* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  margin: 1em 0 1em 0;
}

html,
body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6
{
  font-weight: 300;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

p,
pre,
li
{
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6
{
}

a,
a:visited,
a:hover,
a:focus,
a:hover,
a:active
{
  color: #666;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

pre {
  overflow: scroll;
  border-left: 2px solid #ccc;
  padding-left: 1em;
}

pre code {
  display: block;
  width: 50em;
}

p,
pre
{
  margin: 1em;
}

li {
  margin: 0 1em 0 1em;
  list-style-type: none;
}

#header,
#footer,
#footer a,
#footer a:visited,
#footer a:hover,
#footer a:focus,
#footer a:hover,
#footer a:active
{
  text-decoration: none;
}
