@import "GGS.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
    font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 300;
    font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
}

h1 { font-size: 5em; }
h2 { font-size: 3.5em; margin-top: 1em; }
h3 { font-size: 2em; margin-top: 1em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

@media screen and (min-width: 45em) {
    .content, .header { width: 90%; margin-left: 5%; }
}

@media screen and (min-width: 55.5em) {
    .content, .header { width: 80%; margin-left: 10%; }
}

@media screen and (min-width: 61.5em) {
    .content, .header { width: 75%; margin-left: 12.5%; }
}

p {
    margin: .5em 0 .5em 0;
}

pre {
    margin-top: 1em;
    border: 1px solid #ccc;
    width: 104%;
    margin-left: -2%;
    padding: 2%;
    overflow: auto;
}

ul {
    margin: 1em 0 0 1em;
    list-style-type: none;
}

dl {
	clear: both;
}

dt {
	float: left;
    text-align: right;
    width: 20%;
}

dd {
	margin-left: 25%;
}

nav.footer {
    color: #999;
    margin-bottom: 2em;
    text-align: center;
    width: 50%;
    margin: 2em 0 2em 25%;
    border-top: 1px solid #999;
}

nav.footer ul,
nav.footer li {
    margin: 0;
}

nav.footer li {
    display: inline;
    padding: .2em;
}

nav.footer a {
    color: inherit;
    text-decoration: none;
}

#wcmaier {
    font-size: 2em;
}

#wcmaier h1,
#site-links {
    text-align: center;
}

#site-links {
    clear: both;
    border-top: 2px solid #999;
    font-size: .5em;
    width: 50%;
    margin-left: 25%;
}

#wcmaier #site-links ul li {
    display: inline;
}

#mail-links {
    text-align: right;
}

#mail-links ul {
    border-right: 1px solid #999;
}

#web-links {
    text-align: left;
}

#web-links ul {
    border-left: 1px solid #999;
}

#mail-links,
#web-links {
    width: 50%;
    float: left;
    padding-bottom: .3em;
}

#mail-links a,
#web-links a {
    display: block;
}

#wcmaier h2 {
    display: none;
}

#wcmaier ul { 
    margin: .5em 0 0 0;
}

#wcmaier a {
    text-decoration: inherit;
    color: inherit;
    padding: .2em;
}

#wcmaier a:hover {
}

#wcmaier a:before,
#wcmaier a:after {
    color: #999;
}

#wcmaier a:before:hover,
#wcmaier a:after:hover {
    color: #999;
}

#mail-links a:before {          content: "@"; }
#mail-links a:hover:before {    content: "wcmaier@"; }
#web-links a:after {            content: "/"; }
#web-links a:hover:after {      content: "/wcmaier"; }
